<h1>Events</h1>

<h2>List of Upcoming Events</h2>
<div>
  <% @upcoming_events.each do |event| %>

  <p>
   <strong>Event:</strong><%= event.name %>
   </p>

    <p>
    <strong>Location:</strong><%= event.location %>
    </p>

    <p>
    <strong>Description:</strong><%= event.description %>
    </p>

    <p>
    <strong>Date:</strong><%= event.date %>
    </p>
  <% end %>
</div>


<h2>List of Past Events</h2>
<div>
  <% @previous_events.each do |event| %>

  <p>
   <strong>Event:</strong><%= event.name %>
   </p>

    <p>
    <strong>Location:</strong><%= event.location %>
    </p>

    <p>
    <strong>Description:</strong><%= event.description %>
    </p>

    <p>
    <strong>Date:</strong><%= event.date %>
    </p>
  <% end %>
</div>
